

body{
    height: 5000px;
    background-color: #181818;
    background-size: contain;
    text-decoration: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: right;
    
}

nav div li{
    display: inline-block;

}
nav div li:not(:last-child){
    margin-right: 10px;
}
nav div li a{

    text-decoration: none;
    display: block;
    height:50px;
    padding: 0 20px;
   
    text-align: center;
    color:#fff ;
    line-height: 50px;
    font-size: 35px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    transition: 300ms all ;

 
}
nav div li a:hover{
    background-color:#4a5f68;
    transform: translate(5px, 10px);

    
   

}



.container  {
    text-align: left;
    position: relative;
    
    color: rgb(243, 242, 234);
    font-size: 40px;
    padding-left: 220px;
    padding-right: 590px;
   margin-top: 80px;
   font-family: 'Open Sans', sans-serif;
    z-index: 1; 
   
}

.home_title-color{
    color: #F6E71D;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.logo {
    float: left;
    width: 10px;
    height: 5px;
    margin: -45px 5px;
    mix-blend-mode:lighten
  
    
}

.social-media{
    position: absolute;
    top: 50%;
    right: 50%;
  
}
.social-media div{
    display: inline;
}
.social-media div a{
    display: inline-flex;
    text-decoration: none;
    font-size: 50px;
    color: #F6E71D;
    margin: 0 6px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 80px;
    height: 80px;
    margin-top:200px;
    margin-left: 50px;
    z-index: 10;
}
.social-media .twitter a:hover{
    background: #00acee;
}
.social-media .instagram a:hover{
    background: #DD2A7B;
}
.social-media .linkedin a:hover{
    background: #0e76a8;
}
.social-media .github a:hover{
    background: #171515;
}
.social-media .stackoverflow a:hover{
    background: #ef8236;
}
.social-media a i{
    transition: 0.5s all;
}
.social-media a:hover > i{
    transform: scale(1.2) rotate(360deg);
}
.ben {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: right;
   padding-right: -1000px;
   margin-left: 400px;

   padding-top: 140px;
   z-index: 5;


}

.ben img{
    
    border-radius: 40%;
    transition: 300ms;
    height: 100%;
    width: 40%;
    filter: grayscale(0%);



    
 

}
.ben img:hover{
    transform: scale(1.2);
    border-radius: 20%;
    border-style:solid;
    border-color:#00acee;




    filter: grayscale(80%);
}


